.logout_page_screen{
    width: 300px;
    height: 110px;
    background-color: white;
    color: black;
    border-radius: 5px;
    
}
.logout_page_screen .logout_page_screen_notifycation{
    font-size: 25px;
    margin-left: 110px;

    
}
.logout_page_screen .logout_page_content{
    font-size: 15px;
    margin-top: -15px;
}
.logout_page_screen .logout_page_button{
    margin-left: 0px;
    width: 300px;
    height: 30px;
    display: flex;
    border-top: 2px solid #e0e0e0;
    margin-top: 21px;
    font-size: 15px;
}
.logout_page_button .button_cancel{
    border-right:2px solid #e0e0e0; 
    width: 150px;
    text-align: center;
    padding-top: 7px;
    font-weight: 500;
}
.logout_page_button .button_oke{
   
    width: 150px;
    text-align: center;
    padding-top: 7px;
}

.logout_page_button .button_oke .text_link{
   text-decoration: none;
   color: black;
}
 
 